<!DOCTYPE html>
{% load static%}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Aranda</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href="{% static 'Control_Center/assets/img/logo.png' %}" rel="icon">
        <link href="{% static 'Control_Center/assets/img/logo.png' %}" rel="apple-touch-icon">
      
        <!-- Vendor CSS Files -->
        <link href="{% static 'Control_Center/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'Control_Center/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'Control_Center/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'Control_Center/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- Sweet Alert -->
        <link rel="stylesheet" href="{% static 'Control_Center/assets/vendor/sweetalert2/sweetalert2.min.css'   %}">

        <!-- Jquery Confirm CSS Files -->
        <link rel="stylesheet" href="{% static 'Control_Center/assets/vendor/Jquery-confirm/dist/jquery-confirm.min.css'%}">


      
        <!-- Template Main CSS File -->
        <link href="{% static 'Control_Center/assets/css/style.css' %}" rel="stylesheet">

        <style>
  
          .catchap {
            padding-bottom: 8px;
          }
          
          .catchap img {
            display: block;
            border: 5px solid #3393ff !important;
            padding: 0px;
            
            width: 185px;
            height: 135px;
            
          }

          #id_Captcha_1 {

            margin-top: 10px;
            display: block;
            width: 350px;
            height: 40px;
            
          }


          
          
          
          
          
          
          
          
          </style>
      
     
      </head>
      
<body>
   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      
     
      <!-- Uncomment below if you prefer to use an image logo -->
      <img src="static/Control_Center/assets/img/logo.png"  >

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto " href="#work">Work</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <div id="hero" class="hero route bg-image" style="background-image: url(static/Control_Center/assets/img/x.jpg)">
      <div class="overlay-itro"></div>
      <div class="hero-content display-table">
        <div class="table-cell">
          <div class="container">
            <!--<p class="display-6 color-d">Hello, world!</p>-->
            <h1 class="hero-title mb-4">I am Liván Aranda</h1>
            <p class="hero-subtitle"><span class="typed" data-typed-items="Backend Developer,Django Lover,Positive Guy"></span></p>
            <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
          </div>
        </div>
      </div>
    </div><!-- End Hero Section -->


  

  <!-- Vendor JS Files -->
  <script src="{% static 'Control_Center/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'Control_Center/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Control_Center/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'Control_Center/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'Control_Center/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'Control_Center/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- jQuery -->
  <script src="{% static 'Control_Center/assets/vendor/jquery/jquery.min.js'   %}"></script>

  <!-- Sweet Alert -->
  <script type="text/javascript" src="{% static 'Control_Center/assets/vendor/sweetalert2/sweetalert2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'Control_Center/assets/vendor/sweetalert_Mio/sweetaler2.js' %}"></script>
  <!-- Jquery Confirm JS Files -->
  <script src="{% static 'Control_Center/assets/vendor/Jquery-confirm/dist/jquery-confirm.min.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'Control_Center/assets/js/main.js' %}"></script>

  <!-- Template Ajax JS File -->
  <script src="{% static 'Control_Center/assets/js/ajax.js' %}"></script>
</body>
</html>