<!DOCTYPE html>
{% load static%}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Aranda</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href="{% static 'Control_Center/assets/img/logo.png' %}" rel="icon">
        <link href="{% static 'Control_Center/assets/img/logo.png' %}" rel="apple-touch-icon">
      
        <!-- Vendor CSS Files -->
        <link href="{% static 'Control_Center/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'Control_Center/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'Control_Center/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'Control_Center/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- Sweet Alert -->
        <link rel="stylesheet" href="{% static 'Control_Center/assets/vendor/sweetalert2/sweetalert2.min.css'   %}">

        <!-- Jquery Confirm CSS Files -->
        <link rel="stylesheet" href="{% static 'Control_Center/assets/vendor/Jquery-confirm/dist/jquery-confirm.min.css'%}">


      
        <!-- Template Main CSS File -->
        <link href="{% static 'Control_Center/assets/css/style.css' %}" rel="stylesheet">

        <style>
  
          .catchap {
            padding-bottom: 8px;
          }
          
          .catchap img {
            display: block;
            border: 5px solid #3393ff !important;
            padding: 0px;
            
            width: 185px;
            height: 135px;
            
          }

          #id_Captcha_1 {

            margin-top: 10px;
            display: block;
            width: 350px;
            height: 40px;
            
          }


          
          
          
          
          
          
          
          
          </style>
      
     
      </head>
      
      <body>
    
    
        <!-- ======= Header ======= -->
      <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
    
          
         
          <!-- Uncomment below if you prefer to use an image logo -->
          <img src="static/Control_Center/assets/img/logo.png"  >
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <li><a class="nav-link scrollto " href="#work">Work</a></li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
      </header><!-- End Header -->
    
      <!-- ======= Hero Section ======= -->
      <div id="hero" class="hero route bg-image" style="background-image: url(static/Control_Center/assets/img/x2.jpg)">
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
          <div class="table-cell">
            <div class="container">
              <!--<p class="display-6 color-d">Hello, world!</p>-->
              <h1 class="hero-title mb-4">I am Liván Aranda</h1>
              <p class="hero-subtitle"><span class="typed" data-typed-items="Backend Developer,Django Lover,Positive Guy"></span></p>
              <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
            </div>
          </div>
        </div>
      </div><!-- End Hero Section -->
    
      <main id="main">
    
        <!-- ======= About Section ======= -->
        <section id="about" class="about-mf sect-pt4 route">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="box-shadow-full">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-sm-6 col-md-5">
                          <div class="about-img">
                            <img src="static/Control_Center/assets/img/about.jpg" class="img-fluid rounded b-shadow-a" alt="">
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-7">
                          <div class="about-info mt-3">
                            <p><span class="title-s">Name: </span> <span>Liván Aranda González</span></p>
                            <p><span class="title-s">Profile: </span> <span>Backend Developer</span></p>
                            <p><span class="title-s">Email: </span> <span>livanar00@gmail.com</span></p>
                            <p><span class="title-s">Phone (Spain): </span> <span>(+34) 641-05-50-51</span></p>
                           <!-- <p><span class="title-s">Phone (Cuba): </span> <span>(+53) 5373-27-81</span></p>-->
                          </div>
                        </div>
                      </div>
                      <div class="skill-mf mt-4 ">
                        <p class="title-s" >Skills:</p>
    
                        <div class="container mt-3">
    
                            <div class="row m-2">
    
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-DJANGO-blue?style=for-the-badge&logo=django" /></div>
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-DJANGO CMS-blue?style=for-the-badge&logo=django" /></div>
                                
                                
    
                            </div>
    
                            <div class="row m-2">
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-CSS3-blue?style=for-the-badge&logo=css3&logoColor=white" />  </div>
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-JAVASCRIPT-blue?style=for-the-badge&logo=javascript&logoColor=white" /> </div>
    
                            </div>
    
    
                            <div class="row m-2">
    
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-HTML5-blue?style=for-the-badge&logo=html5&logoColor=white" /> </div>
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-Visual Studio Code-blue?style=for-the-badge&logo=visual%20studio%20code&logoColor=white" />  </div>
    
                            </div>
    
    
                            <div class="row m-2">
    
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-MySQL-blue?style=for-the-badge&logo=mysql&logoColor=white" /> </div>
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-SQL LITE-blue?style=for-the-badge&logo=SQLite&logoColor=white" />  </div>
    
                            </div>
    
                            <div class="row m-2">
    
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-Python-blue?style=for-the-badge&logo=python&logoColor=white" />  </div>                            
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-Git-blue?style=for-the-badge&logo=git&logoColor=white" />  </div>
                            </div>
    
                            <div class="row m-2">
    
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-GitHub-blue?style=for-the-badge&logo=GitHub&logoColor=white" />  </div>                            
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-Heroku-blue?style=for-the-badge&logo=Heroku&logoColor=white" />  </div>
                            </div>
    
                            <div class="row m-2">
    
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-Celery-blue?style=for-the-badge&logo=Celery&logoColor=white" />  </div>                            
                                <div class="col-5 m-2"><img alt="" src="https://img.shields.io/badge/-Git-blue?style=for-the-badge&logo=git&logoColor=white" />  </div>
                            </div>
                        </div>
    
                        
     
                        
                        
                        
                        
                        
                        
                      
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="about-me pt-4 pt-md-0">
                        <div class="title-box-2">
                          <h5 class="title-left">
                            About me
                          </h5>
                        </div>
                
                        <p class="lead">
                          My name is Livan Aranda. I was born on october,1999.
                        </p>
                       
                        
                        <p class="lead">
                            <strong>Nationality</strong>: Cuban
                        </p>
    
                        <p class="lead">
                            <strong>Citizenship</strong>: Cuban and Spanish.
                        </p>
    
                        <p class="lead">
                            I lived in cuba until 2020, I have lived in Spain since then. 
                        </p>
                         
                        <p class="lead">
                            I studied at the university of computer science in Cuba (UCI)(Universidad de las Ciencias Informaticas)
                        </p>
    
                        <p class="lead mt-4"><strong>Why are you hire me:</strong></p>
                        
                        <p class="lead">
                            
                            <ul>
                                <li class="lead">I’m a good programmer. </li>
                            
                                <li class="lead">I’m a super constant person,who doesn’t stop until I solve any problem that may arise. </li>
                                <li class="lead">I am always learning, improving and surpassing myself as a developer and as a human being.  </li>
                                <li class="lead">I have the ability to interact with people, making teamwork an easy task for me. </li>
                                <li class="lead">I do well under pressure.  </li>
                                <li class="lead">You will always be guaranteed sincerity and trust on my part, since in my philosophy of life I consider that the most important thing a person can have is his word.</li>
                            </ul>
                            
                            
                         </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- End About Section -->
    
        
    
    
        <!-- ======= Portfolio Section ======= -->
        <section id="work" class="portfolio-mf sect-pt4 route">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box text-center">
                  <h3 class="title-a">
                    Portfolio
                  </h3>
                  <p class="subtitle-a">
                    A small part of my projects
                  </p>
                  <div class="line-mf"></div>
                </div>
              </div>
            </div>
    
            <div class="row">
           
              <div class="col-md-4">   
                <div class="work-box">
                  <a href="static/Control_Center/assets/img/projects/1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                    <div class="work-img">
                      <img src="static/Control_Center/assets/img/projects/1.png" alt="" class="img-fluid">
                    </div>
                  </a>
                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        <h2 class="w-title">Blog-Django-CMS</h2>
                        <div class="w-more">
                          <span class="w-ctegory">Web Test</span> 
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="w-like">
                          <a href="https://shuman-blog.herokuapp.com/"> <span class="bi bi-plus-circle"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="col-md-4">
                <div class="work-box">
                  <a href="static/Control_Center/assets/img/projects/2.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                    <div class="work-img">
                      <img src="static/Control_Center/assets/img/projects/2.png" alt="" class="img-fluid">
                    </div>
                  </a>
                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        <h2 class="w-title">Telegram Bot (Store)</h2>
                        <div class="w-more">
                          <span class="w-ctegory">Web Test</span> 
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="w-like">
                          <a href="https://t.me/Pepe_el_tiza_bot"> <span class="bi bi-plus-circle"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="col-md-4">
                <div class="work-box">
                  <a href="static/Control_Center/assets/img/projects/3.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                    <div class="work-img">
                      <img src="static/Control_Center/assets/img/projects/3.png" alt="" class="img-fluid">
                    </div>
                  </a>
                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        <h2 class="w-title">Mula</h2>
                        <div class="w-more">
                          <span class="w-ctegory">Web Test</span> 
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="w-like">
                          <a href="https://mulax.herokuapp.com/"> <span class="bi bi-plus-circle"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="col-md-4">
                <div class="work-box">
                  <a href="static/Control_Center/assets/img/projects/4.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                    <div class="work-img">
                      <img src="static/Control_Center/assets/img/projects/4.png" alt="" class="img-fluid">
                    </div>
                  </a>
                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        <h2 class="w-title">My Portfolio</h2>
                        <div class="w-more">
                          <span class="w-ctegory">Web Test</span>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="w-like">
                          <a href="https://myportfoliolg.herokuapp.com/"> <span class="bi bi-plus-circle"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
    
            </div>
          </div>
        </section><!-- End Portfolio Section -->
    
      
    
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(static/Control_Center/assets/img/overlay-bg.jpg)">
          <div class="overlay-mf"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="contact-mf">
                  <div id="contact" class="box-shadow-full">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="title-box-2">
                          <h5 class="title-left">
                            Send me a message:
                          </h5>
                        </div>
                        <div>
                          <form action="" method="post" class="email-form">
    
                            <div class="row">
                              
    
                              <!--Your Name-->
                              <div class="col-md-12 mb-3">
                                <div class="form-group">
                                  <input type="text" name="Name" placeholder="Your Name" maxlength="100" minlength="10" required class="form-control" id="id_Name">
                                </div>
                              </div>
    
                              <!--Email-->
                              <div class="col-md-12 mb-3">
                                <div class="form-group">
                                  <input type="email" name="Email" placeholder="Your Email" maxlength="100" minlength="10" class="form-control" required id="id_Email">
            
                                </div>
                              </div>
    
                              <!--Subject-->
                              <div class="col-md-12 mb-3">
                                <div class="form-group">
                                  <input type="text" name="Subject" placeholder="Subject" maxlength="100" minlength="10" class="form-control" required id="id_Subject">
                                </div>
                              </div>
    
                              <!--Message-->
                              <div class="col-md-12">
                                <div class="form-group">
                                  <textarea name="Text_Message" cols="40" rows="8" placeholder="Message" maxlength="400" minlength="10" class="form-control" required id="id_Text_Message"></textarea>
                                </div>
                              </div>

                              <!--Catchap-->
                              <div class="col-md-12 mt-4 ">
                                <div class="form-group catchap ">
                                  <div class="row justify-content-center">
                                    {{form.Captcha}}
                                  </div>
                                                        
                                  
                                </div>

                              </div>
    
                              
    
    
                              
                              
    
                              
    
                              <div class="col-md-12 mt-3 text-center">
                                <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                                
                              </div>
    
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="title-box-2 pt-4 pt-md-0">
                          <h5 class="title-left">
                            Get in Touch
                          </h5>
                        </div>
                        <div class="more-info">
                          <p class="lead">
                            Anything you need, feel free to contact me:
                          </p>
                          <ul class="list-ico">
                            <li><span class="bi bi-geo-alt"></span> Spain,Madrid,Alcorcon,Colon street #15 PO 3D</li>
                            <li><span class="bi bi-phone"></span> (+34) 641-055051</li>
                            <li><span class="bi bi-envelope"></span> livanar00@gmail.com</li>
                          </ul>
                        </div>
                        <div class="socials">
                          <ul>
                            <li><a href="https://github.com/LivanAG"><span class="ico-circle"><i class="bi bi-github"></i></span></a></li>
                            <li><a href="https://www.instagram.com/chanchy99/"><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                            <li><a href="https://twitter.com/ArandaLivan"><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                            <li><a href="https://www.linkedin.com/in/livan-aranda-4ba1671bb/"><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </section><!-- End Contact Section -->
    
      </main><!-- End #main -->
    
      <!-- ======= Footer ======= -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="copyright-box">
                <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p>
                <div class="credits">
                  <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                -->
                  Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer><!-- End  Footer -->
    
    
    
    
      <div id="preloader"></div>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      
    
      <!-- Vendor JS Files -->
      <script src="{% static 'Control_Center/assets/vendor/purecounter/purecounter.js' %}"></script>
      <script src="{% static 'Control_Center/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'Control_Center/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
      <script src="{% static 'Control_Center/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
      <script src="{% static 'Control_Center/assets/vendor/typed.js/typed.min.js' %}"></script>
      <script src="{% static 'Control_Center/assets/vendor/php-email-form/validate.js' %}"></script>
    
      <!-- jQuery -->
      <script src="{% static 'Control_Center/assets/vendor/jquery/jquery.min.js'   %}"></script>
    
      <!-- Sweet Alert -->
      <script type="text/javascript" src="{% static 'Control_Center/assets/vendor/sweetalert2/sweetalert2.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'Control_Center/assets/vendor/sweetalert_Mio/sweetaler2.js' %}"></script>
      <!-- Jquery Confirm JS Files -->
      <script src="{% static 'Control_Center/assets/vendor/Jquery-confirm/dist/jquery-confirm.min.js'%}"></script>
    
      <!-- Template Main JS File -->
      <script src="{% static 'Control_Center/assets/js/main.js' %}"></script>
    
      <!-- Template Ajax JS File -->
      <script src="{% static 'Control_Center/assets/js/ajax.js' %}"></script>
    
      <script>
    
    
        
        $("form").on("submit",function(e){
        
        e.preventDefault();
        var parametros = new FormData(this) // la diferencia de esta linea y la de arriba es que esta sirve si el form tiene archivos imagenes
        
          
    
          $.confirm({
            theme: 'material',
            title: 'Confirm!',
           
        
            content: 'Esta a punto de enviar un correo a Livan Aranda. Desea Continuar?',
        
            columnClass:"small",
            typeAnimated:true,
            cancelButtonClass:'btn-primary',
            draggable:true,
        
            buttons: {
                info: {
                    text:'si',
                    btnClass: 'btn-blue',
                    action: function(){
        
                        $.ajax({
                            url:window.location.pathname,
                            type:"POST",
                            data:parametros,
                            dataType:'json',
                            processData: false,  // este parametro es obligado ponerlo cuando usas FormData
                            contentType: false   // este parametro es obligado ponerlo cuando usas FormData
            
            
                            }).done(function(data) {
        
                               if(!data.hasOwnProperty('error')){
                                Swal.fire({
                                text:'Su correo electronico ha sido envidado satisfactoriamente!',
                                icon: 'success',
                                title: 'Alert!',
                                showConfirmButton: true,
                                onClose:()=>{location.reload()}
                              }) 
    
                                return false;
                               }
                               else{
    
                                var html = '<ul class="p-0">';
        
                                html += '</ul>';
                                //console.log(data.error)
                                //MensajeError(acc,data.error);
    
                                $.each(data.error,function(clave,valor){
                                    console.log(valor)
                                    html+='<li class="my-4" style="list-style: none;" ><span>'+ valor +'</span> </li>';
                                }) 
    
                                Swal.fire({
                                  title: 'Error!',
                                  html: html,
                                  icon: 'error',
                                  confirmButtonText: 'Aceptar'
                                })
                                
                                
                               }
                                
                               
                            }).fail(function( jqXHR,textStatus,errorThrown) {
                                               
                            }).always(function(data) {}); 
            
                   
                    
                                
                
                    }
                
               
                },
                danger: {
                    text:'no',
                    btnClass: 'btn-red any-other-class', // multiple classes.
                    
                }
            }
        });
      
        })
      
      
        
         
      
      </script>
    
    </body>
</html>